/*********** MEDIA QUERIES ***************/
/*@media (min-width: 200px) and (max-width: 600px) {
	 p {
		color: red;
	} 
} */
/*********** FONTS ***************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,700);
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700; }

h4 {
  font-size: 1.5em;
  font-weight: 400; }

h5 {
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-size: 1.3em;
  font-weight: 400; }

/*********** END FONTS ***************/
/*********** COLORS ***************/
/*********** END COLORS ***************/
/*********** MIXINS ***************/
/*********** GLOBAL ***************/
body {
  padding-top: 70px;
  color: #22313F;
  overflow: scroll; }

.container {
  padding-left: auto;
  padding-right: auto; }

/* Navigation */
.navbar {
  margin-bottom: 0px;
  height: 80px; }

.navbar-collapse {
  background-color: white; }

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: #fff; }

.navbar-default .navbar-nav > li > a {
  font-size: 1.2em;
  margin-top: 5px; }

.navbar-default .navbar-toggle {
  margin-top: 25px;
  background-color: #00A99D;
  border: 0px; }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: white; }

#bs-example-navbar-collapse-1 {
  margin: 10px 0; }

.jumbotron {
  height: 60vh;
  background-color: #65BAEB;
  background-size: cover;
  background-position: center center;
  margin-bottom: 0;
  height: 450px; }
  .jumbotron h1, .jumbotron p, .jumbotron a {
    text-align: center;
    max-width: 100%; }
  .jumbotron .jumbo-content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

.center {
  margin-left: auto;
  margin-right: auto; }

.media-body {
  color: #116D97; }

.v-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.btn-default {
  height: 30px;
  font-size: 1em;
  line-height: .75em;
  margin: 5px; }

#space-fill {
  height: 120vh; }

.mini-jumbo {
  height: 45vh; }

.page-body {
  margin: 50px; }

.testemonial {
  padding: 20px 0; }

blockquote {
  border-left: 2px solid #00A99D;
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-size: 1.5em;
  margin: 40px;
  max-width: 600px;
  padding-left: 30px; }

p {
  max-width: 800px; }

/*********** END GLOBAL ***************/
/*********** Homepage ***************/
/* Block 1 */
#home-jumbo {
  background-image: url("../img/BoiseKA.jpg");
  background-color: #65BAEB;
  background-attachment: fixed;
  background-position: center; }
  #home-jumbo .jumbo-content {
    position: relative;
    top: 20%;
    -webkit-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    transform: translateY(-20%); }

/* Block 2 */
#icon-block {
  padding: 0;
  max-width: 900px; }

@media screen and (max-width: 768px) {
  .icon-container {
    height: 200px; }

  #tidbitsBottom {
    border-bottom: 1px solid #00A99D; } }
.tidbits {
  padding: 0;
  text-align: center; }
  .tidbits .icon {
    margin: 10px; }
  .tidbits .icon-text {
    max-width: 200px;
    padding: 20px 0px; }
  .tidbits .icon-container {
    padding-top: 20px; }

/* Block 3 */
#home-about {
  padding: 0;
  background-color: #65BAEB;
 /*
	@media screen and (max-width: 400px) {
		height: 30vh;
	} */ }

#home-about .row {
  display: table;
  overflow: scroll;
  margin: 0;
  height: 100%; }
  #home-about .row #about-text {
    box-sizing: border-box;
    text-align: right;
    padding: 5% 7%;
    top: auto;
    max-width: 600px; }
  #home-about .row #about-textBlock, #home-about .row #about-img {
    float: none;
    display: table-cell;
    vertical-align: top; }

#about-img {
  background-image: url("../img/business-meeting.jpg");
  background-color: #00A99D;
  background-size: cover;
  background-position: center; }

/* Block 4 */
#bottom-jumbo {
  background-image: url("../img/notebook.jpg"); }

/*********** About Us ***************/
#about-jumbo {
  background-image: url("../img/stock2.jpg");
  background-position: bottom; }
  #about-jumbo h1, #about-jumbo p {
    color: rgba(255, 255, 255, 0.7); }

/*********** Services ***************/
#services-jumbo {
  background-image: url("../img/stock.jpg"); }
  #services-jumbo h1, #services-jumbo p {
    color: rgba(255, 255, 255, 0.8); }

/*********** Fee ***************/
#fee-jumbo {
  background-image: url("../img/stock3.jpg"); }

/*********** Contact ***************/
#contact-jumbo {
  background-image: url("../img/stock.jpg"); }

/*********** Style Guide ***************/
.color {
  height: 100px;
  padding: 10px; }

.swatch1 {
  background-color: #22313F;
  color: white; }

.swatch2 {
  background-color: #116D97; }

.swatch3 {
  background-color: #65BAEB; }

.swatch4 {
  background-color: #00A99D; }

.swatch5 {
  background-color: #EFC761; }

.swatch6 {
  background-color: white;
  color: black;
  border: 1px solid black; }

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

footer {
  margin: 0;
  padding: 10px 0;
  height: 50px;
  background-color: #116D97; }
  footer .foot-col {
    background-color: #116D97;
    height: 40px; }
  footer p, footer a {
    display: inline-block;
    clear: both;
    vertical-align: middle;
    line-height: 1em;
    top: 50%;
    color: white;
    margin: 0; }
    footer p .btn-default, footer a .btn-default {
      margin: 0; }
  footer a {
    float: right; }
  footer a > .img-responsive {
    float: right;
    max-height: 30px;
    width: auto; }
    @media screen and (max-width: 400px) {
      footer a > .img-responsive {
        float: left;
        /* HOW TO OVERRIDE THE IMPORTANT PULL RIGHT? */ } }

/*# sourceMappingURL=main.css.map */
