/*********** MEDIA QUERIES ***************/
/*@media (min-width: 200px) and (max-width: 600px) {
	 p {
		color: red;
	} 
} */

/*********** FONTS ***************/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,700);


// Font Variables
$mainFont: 'Open Sans', sans-serif; 


// Styles
body {
	font-family: $mainFont;
	font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
	font-family: $mainFont;
	font-weight: 700;
}

h4 {
	font-size: 1.5em;
	font-weight: 400;
}

h5 {
	font-family: 'Merriweather', serif;	
	font-style: italic;
	font-size: 1.3em;
	font-weight: 400;
}

/*********** END FONTS ***************/


/*********** COLORS ***************/

$dark-blue: #116D97;
$light-blue: #65BAEB;
$turq: #00A99D;
$yellow: #EFC761;
$text: #22313F;

/*********** END COLORS ***************/

/*********** MIXINS ***************/
@mixin v-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

/*********** GLOBAL ***************/
body {
	padding-top: 70px;
	color: $text;
	overflow: scroll;
}

.container {
	padding-left: auto;
	padding-right: auto;
}


/* Navigation */
.navbar {
	margin-bottom: 0px;
	height: 80px;
}

.navbar-collapse {
	background-color: white;
}

.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse
/**************  Test for mobile nav margin
.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
	margin-right: 0px;
}
*****************/
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	background-color: #fff;
}

.navbar-default .navbar-nav>.active>a {
	background-color: white;
}

.navbar-default .navbar-nav>li>a {
	font-size: 1.2em;
	margin-top: 5px;
}

.navbar-default .navbar-toggle {
	margin-top: 25px;
	background-color: $turq;
	border: 0px;
	.icon-bar {
	background-color: white;
}
}



#bs-example-navbar-collapse-1 {
	margin: 10px 0;
}

.jumbotron {
	height: 60vh;
	background-color: $light-blue;
	background-size: cover;
	background-position: center center;
	h1, p, a {
		text-align: center;
		max-width: 100%;
	}
	margin-bottom: 0;
	height: 450px;
	.jumbo-content {
		@include v-align;
	}
}

.center {
	margin-left: auto;
  margin-right: auto;
}

.media-body {
	color: $dark-blue;
}

.v-align {
		position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.btn-default {
	height: 30px;
	font-size: 1em;
	line-height: .75em;
	margin: 5px;
}

#space-fill {
	height: 120vh;
}

.mini-jumbo {
	height: 45vh;
}

.page-body {
	margin: 50px;
}

.testemonial {
	padding: 20px 0;
}

blockquote {
	border-left: 2px solid $turq;
	font-family: 'Merriweather', serif;	
	font-style: italic;
	font-size: 1.5em;
	margin: 40px;
	max-width: 650px;	
	padding-left: 30px;
}

p {
	max-width: 800px;
}
/*********** END GLOBAL ***************/

/*********** Homepage ***************/


/* Block 1 */
#home-jumbo {
	background-image: url("../img/Boise.jpg");
	background-color: $light-blue;
		.jumbo-content {
		position: relative;
		top: 20%;
		-webkit-transform: translateY(-20%);
		-ms-transform: translateY(-20%);
		transform: translateY(-20%);
	}
}



/* Block 2 */
#icon-block {
	padding: 0;
	max-width: 900px;
}

@media screen and (max-width: 768px) {
	.icon-container {
		height: 200px;
	
	}
	#tidbitsBottom {
		border-bottom: 1px solid $turq;
		}
}

.tidbits {
	padding: 0;
	text-align: center;
	.icon {
		margin: 10px;
	}
		.icon-text {
		max-width: 200px;
		padding: 20px 0px;
	}
	.icon-container {
		padding-top: 20px;	
	} 
}

/* Block 3 */
#home-about {
	padding: 0;
	background-color: $light-blue;  
 /*
	@media screen and (max-width: 400px) {
		height: 30vh;
	} */ }
  #home-about .row {
  	display: table;
  	overflow: scroll;
  	margin: 0;
    height: 100%; 	
	  	#about-text {
	    box-sizing: border-box;
	    text-align: right;
	    padding: 5% 7%;
	    top: auto; 
	    max-width: 600px;
		}
		#about-textBlock, #about-img {
			float: none;
    display: table-cell;
    vertical-align: top;
		}
}
  #about-img {
    background-image: url("../img/hand.jpg");
    background-color: $turq;
    background-size: cover;
    background-position: center;
     }

/* Block 4 */
#bottom-jumbo {
	background-image: url("../img/notebook.jpg");

}


/*********** About Us ***************/

#about-jumbo {
	background-image: url("../img/aboutBanner.jpg");
}

/*********** Services ***************/

#services-jumbo {
	background-image: url("../img/servicesBanner.jpg");
}
/*********** Fee ***************/

#fee-jumbo {
	background-image: url("../img/stock3.jpg");
}



/*********** Contact ***************/

#contact-jumbo {
	background-image: url("../img/stock.jpg");
}

#contactBlock {
	padding-right: 5px;
}

@media screen and (max-width: 768px) {
	.col-sm-8 {
		margin-top: 55px;
	}
}

/*********** Style Guide ***************/

.colorSwatch {

}

.color {
	height: 100px;
	padding: 10px;
}

.swatch1 {
	background-color: $text;
	color: white;	
}
.swatch2 {
	background-color: $dark-blue;
}
.swatch3 {
	background-color: $light-blue;
}
.swatch4 {
	background-color: $turq;
}
.swatch5 {
	background-color: $yellow;
}
.swatch6 {
	background-color: white;
	color: black;
	border: 1px solid black;
}


.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}



footer {
	margin: 0;
	padding: 10px 0;
	height: 50px;
	background-color: $dark-blue;
	.foot-col {
		background-color: $dark-blue;
		height: 40px;
	}
	p, a {
		display: inline-block;
		clear: both;
		vertical-align: middle;
		line-height: 1em;
		top: 50%;
		color: white;
		margin: 7px 0 0 0;
		.btn-default {
			margin: 0;
		}
	}
	a {
		float: right;
				margin-top: 0;
	}
	a>.img-responsive {
		float: right;
		max-height: 30px;
		width: auto;
		@media screen and (max-width: 400px) {
		float: left;  /* HOW TO OVERRIDE THE IMPORTANT PULL RIGHT? */
		}
	}
}

